.App {
  min-height: 100%;
  text-align: center;
  justify-content: center;
}

.container {
  height: 80vh;
  align-content: space-between;
  flex: 1 0 auto;
}

.flex-container-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flex-container-column {
  display: flex;
  flex-direction: column;
}
.centered {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.footer {
  justify-content: space-around;
  padding: 1px;
  flex-shrink: 0;
}

.icons {
  max-width: 25px;
}
