.App {
  min-height: 100%;
  text-align: center;
  justify-content: center;
}

.container {
  max-width: 500px;
  min-height: 80vh;
  align-content: space-between;
  flex: 1 0 auto;
}

.flex-container-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flex-container-column {
  display: flex;
  flex-direction: column;
}
.centered {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.footer {
  width: 100%;
  justify-content: space-around;
  padding: 1px;
  flex-shrink: 0;
  margin-top: auto;
}

.icons {
  max-width: 25px;
}

.button {
  padding: 2px;
  margin: 10px;
}

.nav {
  padding: 5px;
  margin: 0 10px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.capitals {
  text-transform: capitalize;
}

.symbol {
  max-width: 100px;
  align-self: center;
}
