.App {
  min-height: 100%;
  text-align: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-family: "Philosopher", sans-serif;
  margin: 5px;
  padding: 5px;
}

p {
  margin: 15px;
}

.container {
  max-width: 500px;
  min-height: 85vh;
  flex: 1 0 auto;
}

.flex-container-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flex-container-column {
  display: flex;
  flex-direction: column;
}
.centered {
  align-items: center;
  justify-content: center;
}

.footer {
  width: 100%;
  justify-content: space-around;
  padding: 1px;
  flex-shrink: 0;
  margin-top: auto;
}

.icons {
  max-width: 25px;
}

.button {
  padding: 2px;
  margin: 10px;
}

.nav {
  padding: 5px;
  margin: 0 10px;
}

.row {
  width: 350px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
}

.capitals {
  text-transform: capitalize;
}

.symbol {
  max-width: 100px;
  align-self: center;
}

.hidden {
  visibility: hidden;
}
